.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // fondo oscuro semitransparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__contenido {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #4200ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: aparecer 0.10s ease;
}

@keyframes aparecer {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
